img {
  width: 100%;
  display: block;
}

/*//////  g r i d  //////*/

.grid {
  display: grid;
  outline: 0.5px solid #ffffff;
  outline-offset: 5px;
  background-color: white;
  max-width: 95vw;
  margin-left: auto;
  margin-right: auto;
}

/*//////  m a p s  //////*/

.grid--map {
  grid-template-columns: repeat(25, 1fr);
  grid-template-rows: repeat(24, 1fr);
}

.grid--map .grid__item {
  min-height: auto;
  mix-blend-mode: multiply;
}

.grid--map .spacer {
  height: 0;
  padding-bottom: 100%;
}

.grid--map .grid__item:nth-child(1) {
  grid-column: 12 / span 4;
  grid-row: 14 / span 3;
}

.grid--map .grid__item:nth-child(2) {
  grid-column: 15 / span 3;
  grid-row: 6 / span 3;
}

.grid--map .grid__item:nth-child(3) {
  grid-column: 8 / span 6;
  grid-row: 16 / span 4;
}

.grid--map .grid__item:nth-child(4) {
  grid-column: 7 / span 3;
  grid-row: 18 / span 4;
}

.grid--map .grid__item:nth-child(5) {
  grid-column: 5 / span 4;
  grid-row: 9 / span 4;
}

.grid--map .grid__item:nth-child(6) {
  grid-column: 5 / span 2;
  grid-row: 9 / span 2;
}

.grid--map .grid__item:nth-child(7) {
  grid-column: 21 / span 2;
  grid-row: 5 / span 4;
}

.grid--map .grid__item:nth-child(8) {
  grid-column: 15 / span 4;
  grid-row: 7 / span 4;
}

.grid--map .grid__item:nth-child(9) {
  grid-column: 13 / span 3;
  grid-row: 4 / span 3;
}

.grid--map .grid__item:nth-child(10) {
  grid-column: 9 / span 5;
  grid-row: 14 / span 4;
}

.grid--map .grid__item:nth-child(11) {
  grid-column: 8 / span 3;
  grid-row: 12 / span 4;
}

.grid--map .grid__item:nth-child(12) {
  grid-column: 12 / span 4;
  grid-row: 5 / span 2;
}

.grid--map .grid__item:nth-child(13) {
  grid-column: 8 / span 5;
  grid-row: 8 / span 5;
}


/*//////  h o v e r  o n  g r i d  e l e m e n t  //////*/

.grid__item{
  transition: transform 0.3s ease;
  mix-blend-mode: normal;
}

.grid__item:hover{
  mix-blend-mode: normal;
  transform: scale(1.5);
  z-index: 900;
  background-color: white;
  box-shadow: 5px 15px 40px #923fff;
}


/*//////  h o v e r  t e x t  //////*/

.grid__item:hover .middle{
  opacity: 1;
}


.middle {
  transition: .2s ease;
  position: absolute;
  bottom: -50px;
  text-align: left;
  background-color: black;
  opacity: 0;
  width:100%;
  margin: -1px;
  border: 1px solid black;
}

.text {
  font-size: 55%;
  font-family: 'Px437_IBM_PS2';
  font-weight: 100;
  color: white;
  outline: none !important;
  line-height: 1;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}


/*//////  m o b i l e  //////*/

@media (hover: hover){

  .grid__item{
    transition: transform 0.3s ease;
    mix-blend-mode: normal;
  }

  .grid__item:hover{
    mix-blend-mode: normal;
    transform: scale(1.5);
    z-index: 900;
    background-color: white;
    box-shadow: 5px 15px 40px #923fff;
  }

}
