img {
  width: 100%;
  display: block;
}

/*//////  g r i d  //////*/

.grid {
  display: grid;
  border: 1px solid black;
  background-color: white;
}

/*//////  m a p s  //////*/

.grid--map {
  grid-template-columns: repeat(25, 1fr);
  grid-template-rows: repeat(24, 1fr);
}

.grid--map .grid__item {
  min-height: auto;
  mix-blend-mode: multiply;
}

.grid--map .spacer {
  height: 0;
  padding-bottom: 100%;
}

.grid--map .grid__item:nth-child(1) {
  grid-column: 12 / span 4;
  grid-row: 14 / span 3;
}

.grid--map .grid__item:nth-child(2) {
  grid-column: 15 / span 3;
  grid-row: 6 / span 3;
}

.grid--map .grid__item:nth-child(3) {
  grid-column: 8 / span 6;
  grid-row: 16 / span 4;
}

.grid--map .grid__item:nth-child(4) {
  grid-column: 7 / span 3;
  grid-row: 18 / span 4;
}

.grid--map .grid__item:nth-child(5) {
  grid-column: 5 / span 4;
  grid-row: 9 / span 4;
}

.grid--map .grid__item:nth-child(6) {
  grid-column: 5 / span 2;
  grid-row: 9 / span 2;
}

.grid--map .grid__item:nth-child(7) {
  grid-column: 21 / span 2;
  grid-row: 5 / span 4;
}

.grid--map .grid__item:nth-child(8) {
  grid-column: 15 / span 4;
  grid-row: 7 / span 4;
}

.grid--map .grid__item:nth-child(9) {
  grid-column: 13 / span 3;
  grid-row: 4 / span 3;
}

.grid--map .grid__item:nth-child(10) {
  grid-column: 9 / span 5;
  grid-row: 14 / span 4;
}

.grid--map .grid__item:nth-child(11) {
  grid-column: 8 / span 3;
  grid-row: 12 / span 4;
}

.grid--map .grid__item:nth-child(12) {
  grid-column: 12 / span 4;
  grid-row: 5 / span 2;
}

.grid--map .grid__item:nth-child(13) {
  grid-column: 8 / span 5;
  grid-row: 8 / span 5;
}


/*//////  h o v e r  o n  g r i d  e l e m e n t  //////*/

.grid__item{
  transition: transform 0.2s ease;
  mix-blend-mode: normal;
  color: black;
}

.grid__item:hover{
  mix-blend-mode: normal;
  color: white;
  /*box-shadow:  0 3px 10px yellow;*/
  transform: scale(1.5);
  z-index: 900;
}


/*//////  h o v e r  t e x t  //////*/

.grid__item:hover .middle{
  opacity: 1;
}


.middle {
  transition: .2s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  height: 45px;
  width: 32px;
}

.text {
  font-size: 75%;
  font-family: 'SuisseIntl-Book';
  font-weight: 100;
  letter-spacing: 0.1vw;
  outline: none !important;
  line-height: 1.5;
  color: rgba(23, 172, 16);
  background-color: white;
  border: 1px solid rgba(23, 172, 16);
  padding: 0.25rem;

}
