:root {
  font-size: 16px;
  font-family: 'SuisseIntl-Book';
}


body {
  margin: 1rem;
  padding: 0.5rem;
  color: black;
  background-color: white;
  max-width: 100%;
  overflow-x: hidden;
}


::selection {
  background-color: black;
  color: white;
}


/*//////  t y p e  s e t t i n g  //////*/

h1 {
  font-size: 150%;
  font-family: 'SuisseIntl-Book';
  font-weight: 400;
  text-align: center;
  outline: none !important;
  line-height: 1;
  margin: 0;
  text-transform: uppercase;
}

/*  h i k e  c a r d  */
h2 {
  font-size: 115%;
  font-family: 'SuisseIntl-Book';
  font-weight: 400;
  text-align: left;
  outline: none !important;
  line-height: 1.2;
  margin: 0;
  text-transform: uppercase;
}

h4 {
  font-size: 100%;
  font-family: 'SuisseIntl-Book';
  font-weight: 100;
  letter-spacing: 0.05vw;
  outline: none !important;
  display: inline !important;
  line-height: 1;
  margin: 0;
  text-align: left;
}

h5 {
  font-size: 65%;
  font-family: 'SuisseIntl-Book';
  font-weight: 100;
  letter-spacing: 0.05vw;
  outline: none !important;
  display: inline !important;
  line-height: 1;
  margin: 0;
  text-align: left;
}

h6 {
  font-size: 75%;
  font-family: 'SuisseIntl-Book';
  font-weight: 100;
  letter-spacing: 0.05vw;
  outline: none !important;
  line-height: 1;
  margin-bottom: 0;
  text-align: left;
}

p {
  font-size: 100%;
  font-family: 'SuisseIntl-Book';
  font-weight: 100;
  letter-spacing: 0.05vw;
  outline: none !important;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 2rem;
  text-align: left;
  max-width: 600px;
}

hr {
  border: 0;
  height: 0.5px;
  background: black;
}

/*//////  h e a d e r  //////*/

.header{
  position: relative;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: white;
  background-color: black;
  z-index: 999;
}

/*//////  n a v i g a t i o n  //////*/

a {
  color: black;
  background-color: none;
  text-decoration: none;
}

a:hover {
  color: white;
  background-color: black;
}

nav {
  font-size: 80%;
  font-family: 'SuisseIntl-Book';
  font-weight: 100;
  letter-spacing: 0.05vw;
  line-height: 1.5;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 100%;
}

nav a:first-of-type {
  flex-grow: 1;
}



/*//////  p r o j e c t  d e s c r i p t i o n  //////*/
.project-description {
  margin-top: 3rem;
  margin-bottom: 6rem;
}

/*//////  m e d i a  q u e r y  //////*/

@media only screen and (max-width: 600px) {

  body {
    margin: 0;
  }

  h2 {
    font-size: 100%;
  }

}
